.btn-primary, .btn-ghost {
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #b026ff; 
  color: white;
  margin-right: 15px
}

.btn-primary:hover {
  background-color: #ff2d75; 
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(255, 45, 117, 0.4);
}

.btn-ghost {
  border: 2px solid #00f5ff; 
  color: #00f5ff;
  background: transparent;
}

.btn-ghost:hover {
  background-color: rgba(0, 245, 255, 0.1);
}